<!DOCTYPE html>
<html lang="pt-br">

<?php $this->load->view('menu.html'); ?>

<div class="trabalhe-conosco" align="center">
    <h4>Trabalhe Conosco</h4>

<?php
   
    echo form_open('site/contato');
    
    
    echo form_label("Seu nome:", "nome");
    echo form_input("Nome", set_value("nome"));
    echo "<br>";

    echo form_label("Seu email:", "email");
    echo form_input("Email");
    echo "<br>";

    echo form_label("CPF:", "cpf");
    echo form_input("CPF");
    echo "<br>";
    
    form_upload();

    echo form_submit("enviar","Enviar", array('class'=>'botao'));
    echo "<br>";

    


    echo form_close();
    echo "<br>";
?>
</div>

<?php $this->load->view('footer.html'); ?>





   